body {
    background-color: #BFB;
    padding: 0 100px;
    margin: 0;
}

header {
    overflow: hidden;
    text-shadow: 1px 0 #FFF, -1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px -1px 0 #FFF, 0px 1px 0 #FFF,  0 -1px 0 #FFF, -1px 0 0 #FFF, 1px 0 0 #FFF;
}

.header {
    color: #33BB33;
    text-decoration: none;
    float: left;
    padding: 1%;
    border-radius: 20px;
}
.header:hover {
    background-color: #AEA;
}
section a {
    font-size: 30px;
}
@media screen and (max-width: 480px) {
    .header{
        font-size: 25px;
        padding: 5px 10px;
    }
    body{
        padding: 0px 20px;
    }
    iframe{
        max-width: 100%;
    }
    ul{
        margin: 0;
        padding: 0 10px;
    }
}